.custom-post-item {
    list-style: none;

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateX(10px);

            .post-meta i {
                opacity: 1;
            }
        }
    }

    .post-title {
        font-size: 2rem;
        color: #000000;
    }

    .post-meta {
        display: flex;
        gap: 1.5rem;
        color: var(--text-color-light);
        font-size: 1.5rem;

        time,
        .post-words {
            align-items: center;
            gap: 0.4rem;
        }

        i {
            font-size: 1.5rem;
            opacity: 0.8;
        }
    }
}