.float-container {
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  position: fixed;
  font-size: 1.6em;

  a {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: $alt-fg-color;
    background-color: $alt-bg-color;
    border-radius: 2rem;
    opacity: 0.5;
    transition: all 0.25s ease-in;

    &:hover,
    &:focus {
      color: $link-color;
      opacity: 1;

      @media only screen and (max-width: 768px) {
        color: $alt-fg-color;
        opacity: 0.5;
      }
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.colorscheme-toggle {
  text-decoration: none;
  user-select: none;

  background: linear-gradient(145deg, #b6b6b6, #c0c0c0);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2),
      -3px -3px 6px rgba(255, 255, 255, 0.5);

  border: 1px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
  align-items: center;
  justify-content: center;

  &:hover {
      background: linear-gradient(145deg, #c0c0c0, #a0a0a0);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
          -2px -2px 4px rgba(255, 255, 255, 0.5);
  }
  &:active {
      background: linear-gradient(145deg, #828282, #c0c0c0);
      box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.2),
          inset 0px -2px 4px rgba(255, 255, 255, 0.5);
      transform: translateY(2px);
  }
}

.button-icon {
  font-size: 20px;
  color: #474747;
  transition: color 0.3s ease;
  .colorscheme-toggle:hover & {
      color: #333;
  }
}


.menu-button {
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;  // 按钮宽度
  height: 30px;  // 按钮高度
  background-color: transparent;  // 背景透明，突出图标
  border: none;  // 移除默认边框
  cursor: pointer;
  transition: transform 0.3s ease;  // 点击时产生平滑动画

  &::before, &::after {
    content: "";
    position: absolute;
    width: 28px;  // 菜单条的宽度
    height: 4px;  // 菜单条的高度
    background-color: #333;  // 菜单条颜色
    border-radius: 2px;  // 圆角效果
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  &::before {
    top: 0;  // 上面一条
  }
  &::after {
    bottom: 0;  // 下面一条
  }
  // 中间横线
  .line-middle {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);  // 垂直居中
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  &:hover {
    transform: scale(1.1);  // 鼠标悬停时按钮稍微放大
  }
  &:active {
    transform: scale(0.95);  // 点击时按钮缩小
  }
}

.float-right {
  float: right;  // 按钮浮动到右侧
}
