@mixin recipes-list-dark {
  .recipe-list {
    .recipe-item {
      background-color: $alt-bg-color-dark;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .recipe-item:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    }

    .recipe-thumbnail {
      background-color: #424242;
      padding: 8px;
    }

    .recipe-title {
      color: $link-color-dark;
    }

    .recipe-date {
      color: $alt-fg-color-dark;
    }

    .recipe-description {
      color: $fg-color-dark;
    }
  }
}

body.colorscheme-dark {
  @include recipes-list-dark();
}

@media (prefers-color-scheme: dark) {
  body.colorscheme-auto {
    @include recipes-list-dark();
  }
}