{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
{{ partial "toc.html" . }}
<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <h1 class="title">
          <a class="title-link" href="{{ .Permalink | safeURL }}">
            {{ .Title }}
          </a>
        </h1>
      </div>
      <div class="post-meta">
        <div class="date">
          <span class="posted-on">
            <i class="fa-solid fa-calendar" aria-hidden="true"></i>
            <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
              {{ .Date | time.Format (.Site.Params.dateFormat | default "2006-01-02" ) }}
            </time>
          </span>
          <span class="reading-time">
            <i class="fa-solid fa-clock" aria-hidden="true"></i>
            {{ i18n "reading_time" .ReadingTime }}
          </span>
          <span class="post-word-count">
            <i class="fa fa-pie-chart" aria-hidden="true" style="margin-left: 10px;"></i>
            {{ len .Content }} 字
          </span>
        </div>
        {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
        {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
        {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
      </div>
    </header>

    <div class="post-content">
      {{ if .Params.featuredImage }}
      <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image" />
      {{ end }}
      {{ .Content }}
    </div>


    <footer>
      {{ partial "posts/series.html" . }}
      <div id="tcomment"></div>
    </footer>
  </article>

</section>


<!-- Twikoo 评论系统 -->
{{ if .Site.Params.twikoo }}
{{ $script := resources.Get "js/twiko.all.min.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  <script>
    window.addEventListener('load', () => {
      twikoo.init({
        envId: 'https://twikoo-inaho.netlify.app/.netlify/functions/twikoo',
        el: '#tcomment'
      });
    });
  </script>
{{ end }}
{{ end }}